<div class="card">
  <div class="card-header text-white bg-primary">
    Registro General de Asistencias
  </div>
  <div class="card-body scrollable-card">
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr class="text-center">
            <th>ID</th>
            <th>Member</th>
            <th>Fecha</th>
            <th>Día de la semana</th>
            <th>Hora de registro</th>
          </tr>
        </thead>
        <tbody>
          <%= render @attendance_service.all_attendances%>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br>
<div class="card">
   <div class="card-body">
     <h5 class="card-title"> Asistencias por mes </h5>
     <%= line_chart @attendance_service.monthly_attendances %>
   </div>
</div>
   <br>

   <div class="card">
      <div class="card-body">
        <h5 class="card-title"> Asistencias por semana </h5>
        <%= line_chart @attendance_service.weekly_attendances %>
     </div>
   </div>

   <br>

   <div class="card">
      <div class="card-body">
        <h5 class="card-title"> Frecuencia promedio de visitas por semana </h5>
      <%= pie_chart @attendance_service.avg_attendances %>
     </div>
  </div>
