<div class="card">
  <div class="card-header text-white bg-success">
    Registro General de Asistencias 
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr class="text-center">
            <th>ID</th>
            <th>Fecha</th>
            <th>Día de la semana</th>
            <th>Hora de registro</th>
          </tr>
        </thead>
        <tbody>
          <%= render @all_attendances%>
        </tbody>
      </table>
    </div>
  </div>
</div>