.physical-test-header {
	height: 15%;
	padding: 2% 0;
	text-align: center;
}

.form-col {
	padding: 10px;
}

.physical-test-container {
	font-size: .875rem;
	min-height: 100%;
	padding-bottom: 30px;
}

.pull-ups-form .form-title {
	color: #F18F01;
}

.push-ups-form .form-title {
	color: #82BD34;
}

.squats-form .form-title {
	color: #0077B5;
}

.crunches-form .form-title {
	color: #B8336A;
}

.form-title {
	text-align: center;
}

.form-content {
	text-align: right;
}

.btn-full-width {
	width: 100%;
}
