<div class="card">
    <div class="card-header text-white bg-success">
        Registro General de Pagos
    </div>
    <div class="card-body scrollable-card">
        <%= render_all_admin_payments %>
    </div>
</div>
