<h1>Pagos</h1>

<br>

<h5>
  <td><%= @next_payment %></td>
</h5>

<br>
<br>

<h4> Historia de pagos </h4>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Cantidad</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<% @payments.each do |payment| %>
  <tr>
    <td><%= payment.date.to_date %></td>
    <td><%= payment.amount %></td>
    <td><%= payment.status %></td>
  </tr>
<% end %>

</table>
