@import "bootstrap";
@import "font-awesome";
@import "bootstrap-datepicker";
@import "devise/registrations/edit";
@import "devise/sessions/new";
@import "dashboard";
@import "bootstrap-dashboard";
@import "feathericon";
@import "physical_tests/new";

html {
	margin: 0px;
	border: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
}
