.average-membership-report {
    font-size: 20px;
}

.dashboard-alert {
    margin: 10px 0 0 0;
}
.main-container {
    margin-bottom: 20px;
}

.scrollable-card {
    max-height: 300px;
    overflow: scroll;
}

.form-field {
    max-width: 250px;
    display: inline-block;
    
    .btn {
        display: block;
    }
}