.average-membership-report {
    font-size: 20px;
}

.dashboard-alert {
    margin: 10px 0 0 0;
}

.form-field {
    max-width: 250px;
    display: inline-block;
    
    .btn {
        display: block;
    }
}

.main-container {
    margin-bottom: 20px;
}

.member {
    &-active {
        color: green;
    }
    &-inactive {
        color: red;
    }
}

.scrollable-card {
    max-height: 300px;
    overflow: scroll;
}

.table-btn {
    font-size: 14px;
    padding: 2px;
    width: 100%;
}